body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 900px;
    margin: 0;
    padding: 0;
    
   
    /*display: flex;
    justify-content: center;
    align-items: center;/*nao da com esse aqui deixou de centralizar*/

}

.cheeseburger {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    
}

.cheeseburger img {
    position: absolute;
    top: 100;
    left: 100;
    width: 300px;
}

.pao-topo {
    
    
    
    z-index: 5;
    

}

.queijo {
    position: relative;
    z-index: 4;
    top: 50px;
   
}

.hamburguer {
    
    z-index: 3;
    top: 40px;
    
}

.queijo-2 {
    
    z-index: 2;
    top: 100px;
    
}

.pao-fundo {
    position: relative;
    z-index: 1;
    top: 90px;

    
}

